submodules/sf-flow-apex-converter/exampleflow.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Gets a list of IDs from the passed in records in order to be used later to query related objects for validation.</description>
        <name>Get_Loan_IDs_from_input_records</name>
        <label>Get Loan IDs from input records</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <actionName>GetIdsFromRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Validation_Loans_Servicing_Comply_with_BS20</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputList</typeName>
            <typeValue>LLC_BI__Loan__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputList</name>
            <value>
                <elementReference>LoansInPP</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetIdsFromRecords</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Amount_For_Commission_Calculation_Error_To_List</name>
        <label>Add Amount for Commission Calculation Error to List</label>
        <locationX>270</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>ValidationMessage.Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmountForCommissionCalculationNotEnteredError</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValidationMessage.Solution</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmountForCommissionCalculationNotEnteredSolution</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValidationMessage.FieldName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AMOUNT_FOR_COMMISSION_CALCULATION_FIELD_NAME</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValidationMessage.RecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Loans.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValidationMessage.RecordName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Loans.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValidationMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ValidationMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Loan_Need_to_Skip_Rate_and_Payments_Component_and_Better_Home_Topup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Better_Homes_Topup_Errors_to_list</name>
        <label>Add Better Homes Topup Errors to list</label>
        <locationX>490</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>ValidationMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BetterHomesTopupValidationMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Loans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add the Validation Errors returned from the Key Loan Date validation to the error list.</description>
        <name>Add_Key_Loan_Date_Validation_Errors_to_list</name>
        <label>Add Key Loan Date Validation Errors to list</label>
        <locationX>622</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>ValidationMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>KeyLoanValidationMessages</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Broker_Deal_And_Amount_For_Commission_Calculation_Is_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the resultant errors from the Rates and Payments validation to the error list.</description>
        <name>Add_Rates_and_Payments_Validation_Errors_to_list</name>
        <label>Add Rates and Payments Validation Errors to list</label>
        <locationX>490</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>ValidationMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RatesAndPaymentsValidationMessages</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Better_Homes_Topup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This will initialise the ValidationMessages collection variable to an empty list instead of null.</description>
        <name>Initialise_Collection_Variable_so_it_will_be_non_null</name>
        <label>Initialise Collection Variable so it will be non-null</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>ValidationMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ValidationMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValidationMessages</assignToReference>
            <operator>RemoveFirst</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Loan_IDs_from_input_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>remove error messages for BS20</description>
        <name>Reset_Validation_Message</name>
        <label>Reset Validation Message</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>BS20ErrorMessages</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pricing_Streams_for_Loans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BS20_Exception_Message</name>
        <label>Set BS20 Exception Message</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ValidationMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BS20ErrorMessages</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Validation_Message</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Selects the Pricing Stream records from the list of all Loan&apos;s Pricing Streams.</description>
        <name>Get_Pricing_Streams_for_this_Loan</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Pricing Streams for this Loan</label>
        <locationX>490</locationX>
        <locationY>2090</locationY>
        <assignNextValueToReference>currentItem_Get_Pricing_Streams_for_this_Loan</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Pricing_Streams_for_Loans</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Pricing_Streams_for_this_Loan.LLC_BI__Loan__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_over_Loans.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Validate_Rates_and_Payments_components_on_Loan</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>AMOUNT_FOR_COMMISSION_CALCULATION_FIELD_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Amount for Commission Calculation</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_BS20_Exception</name>
        <label>Check BS20 Exception</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Pricing_Streams_for_Loans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_BS20_Exception</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BS20ErrorMessages</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.NC_RBNZ_TDTI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_BS20_Exception_Message</targetReference>
            </connector>
            <label>Yes BS20 Exception</label>
        </rules>
    </decisions>
    <decisions>
        <description>2266098 :  To validate if the loan product type is tag as Skip Pricing</description>
        <name>Check_if_Loan_Need_to_Skip_Key_Loan_Dates</name>
        <label>Check if Loan Need to Skip Key Loan Dates</label>
        <locationX>534</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Validate_Key_Loan_Dates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loanSkipPricingTrue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Broker_Deal_And_Amount_For_Commission_Calculation_Is_Empty</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>2266098 :  To validate if the loan product type is tag as Skip Pricing</description>
        <name>Check_if_Loan_Need_to_Skip_Rate_and_Payments_Component_and_Better_Home_Topup</name>
        <label>Check if Loan Need to Skip Rate and Payments Component and Better Home Topup</label>
        <locationX>402</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>Get_Pricing_Streams_for_this_Loan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loanSkipPricingTrue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_Loans</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Product Package is a Broker Deal, then each Loan must have a value entered into the Amount For Commission Calculation field.</description>
        <name>Is_Broker_Deal_And_Amount_For_Commission_Calculation_Is_Empty</name>
        <label>Is Broker Deal And Amount For Commission Calculation Is Empty?</label>
        <locationX>402</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>Check_if_Loan_Need_to_Skip_Rate_and_Payments_Component_and_Better_Home_Topup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Product Package Is Not Broker Deal</defaultConnectorLabel>
        <rules>
            <name>Yes_Product_Package_Is_a_Broker_Deal</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>IsBrokerDeal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_Loans.NC_Amount_for_Commission_Calculation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_Loans.NC_Amount_for_Commission_Calculation__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Amount_For_Commission_Calculation_Error_To_List</targetReference>
            </connector>
            <label>Yes, Product Package Is a Broker Deal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_loan_a_Credit_Action</name>
        <label>Is the loan a Credit Action?</label>
        <locationX>402</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Check_if_Loan_Need_to_Skip_Key_Loan_Dates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Credit_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCurrentLoanCreditAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Broker_Deal_And_Amount_For_Commission_Calculation_Is_Empty</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Subflow for validating loans before submitting to Lending.
[24/02/2025] US 2266098 - Bypassing some Loan validation if Skip Pricing field on Loan is True 
[20/02/2025] US 2290328 - Product package is should not be progressed without Amount for commission for calculation value
[13/02/2025] US 2259886 - By-pass rate validation for Loans of Product Type &apos;Contingent Liability&apos;
[10/02/2025] US 2259886 - By-pass date validation for Loans of Product Type &apos;Contingent Liability&apos;
[10/04/2024] US 1606321
[28/02/2024 JCMolijon] Bug Fix 1906975 To make sue error message is no longer duplicated</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula that evaluates whether the current Loan is of Product Type &apos;Contingent Liability&apos;</description>
        <name>IsCurrentLoanContingentLiability</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!Loop_over_Loans.LLC_BI__Product_Type__c}, &apos;Contingent Liability&apos;)</expression>
    </formulas>
    <formulas>
        <description>Formula that evaluates whether the currently being iterated loan is a Credit Actioned loan or not.</description>
        <name>IsCurrentLoanCreditAction</name>
        <dataType>Boolean</dataType>
        <expression>OR({!Loop_over_Loans.LLC_BI__isRenewal__c}, {!Loop_over_Loans.LLC_BI__Is_Modification__c})</expression>
    </formulas>
    <formulas>
        <description>2266098 :  To skip loan to be validate if Loan Skip Pricing - true</description>
        <name>loanSkipPricingTrue</name>
        <dataType>Boolean</dataType>
        <expression>{!Loop_over_Loans.NC_Skip_Pricing__c}</expression>
    </formulas>
    <interviewLabel>Validate Loans before Submit to Lending {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Validate Loans before Submit to Lending</label>
    <loops>
        <name>Loop_over_Loans</name>
        <label>Loop over Loans</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <collectionReference>LoansInPP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_the_loan_a_Credit_Action</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Pricing_Streams_for_Loans</name>
        <label>Get Pricing Streams for Loans</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Loans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Get_Loan_IDs_from_input_records</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Pricing_Stream__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>Validation_Subflow_Template</sourceTemplate>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initialise_Collection_Variable_so_it_will_be_non_null</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>US1606321</description>
        <name>Validate_Better_Homes_Topup</name>
        <label>Validate Better Homes Topup</label>
        <locationX>490</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>Add_Better_Homes_Topup_Errors_to_list</targetReference>
        </connector>
        <flowName>NC_Better_Homes_Topup_Validation</flowName>
        <inputAssignments>
            <name>LoanAgreementPurpose</name>
            <value>
                <elementReference>Loop_over_Loans.NC_Loan_Agreement_Purpose__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoanAmont</name>
            <value>
                <elementReference>Loop_over_Loans.LLC_BI__Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoanBorrowingPurpose</name>
            <value>
                <elementReference>Loop_over_Loans.NC_Loan_Borrowing_Purpose__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoanId</name>
            <value>
                <elementReference>Loop_over_Loans.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoanName</name>
            <value>
                <elementReference>Loop_over_Loans.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoanProduct</name>
            <value>
                <elementReference>Loop_over_Loans.LLC_BI__Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MatrixLVR</name>
            <value>
                <elementReference>Loop_over_Loans.NC_Matrix_LVR__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>BetterHomesTopupValidationMessage</assignToReference>
            <name>ValidationMessages</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Validate the key loan dates on the current loan.</description>
        <name>Validate_Key_Loan_Dates</name>
        <label>Validate Key Loan Dates</label>
        <locationX>622</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Add_Key_Loan_Date_Validation_Errors_to_list</targetReference>
        </connector>
        <flowName>Key_Loan_Date_Validation</flowName>
        <inputAssignments>
            <name>FinanceDate</name>
            <value>
                <elementReference>Loop_over_Loans.NC_Funding_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FirstPaymentDate</name>
            <value>
                <elementReference>Loop_over_Loans.LLC_BI__First_Payment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsContingentLiability</name>
            <value>
                <elementReference>IsCurrentLoanContingentLiability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoanId</name>
            <value>
                <elementReference>Loop_over_Loans.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoanName</name>
            <value>
                <elementReference>Loop_over_Loans.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SettlementDate</name>
            <value>
                <elementReference>Loop_over_Loans.LLC_BI__CloseDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Stage</name>
            <value>
                <elementReference>Loop_over_Loans.LLC_BI__Stage__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>KeyLoanValidationMessages</assignToReference>
            <name>ValidationMessages</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Validate Rates and Payments components on Loan</description>
        <name>Validate_Rates_and_Payments_components_on_Loan</name>
        <label>Validate Rates and Payments components on Loan</label>
        <locationX>490</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Add_Rates_and_Payments_Validation_Errors_to_list</targetReference>
        </connector>
        <flowName>NC_Loan_Validate_Rates_and_Payments_Components</flowName>
        <inputAssignments>
            <name>IsContingentLiability</name>
            <value>
                <elementReference>IsCurrentLoanContingentLiability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsLoanCreditAction</name>
            <value>
                <elementReference>IsCurrentLoanCreditAction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoanId</name>
            <value>
                <elementReference>Loop_over_Loans.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoanName</name>
            <value>
                <elementReference>Loop_over_Loans.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoanPricingStreams</name>
            <value>
                <elementReference>Get_Pricing_Streams_for_this_Loan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoanProductType</name>
            <value>
                <elementReference>Loop_over_Loans.LLC_BI__Product_Type__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RatesAndPaymentsValidationMessages</assignToReference>
            <name>ValidationMessages</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Validation_Loans_Servicing_Comply_with_BS20</name>
        <label>Validation Loans Servicing Comply with BS20</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Check_BS20_Exception</targetReference>
        </connector>
        <flowName>NC_Validation_Loans_Servicing_Comply_with_BS20</flowName>
        <inputAssignments>
            <name>loanIDs</name>
            <value>
                <elementReference>Get_Loan_IDs_from_input_records</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>BS20ErrorMessages</assignToReference>
            <name>validationMessages</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AmountForCommissionCalculationNotEnteredError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Amount for Commission Calculation cannot be null.</stringValue>
        </value>
    </variables>
    <variables>
        <name>AmountForCommissionCalculationNotEnteredSolution</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Please enter an Amount for Commission Calculation as the Product Package is part of the Broker Deal</stringValue>
        </value>
    </variables>
    <variables>
        <name>BetterHomesTopupValidationMessage</name>
        <apexClass>ValidationMessage</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Holds the output error messages from BS20 Validation subflow</description>
        <name>BS20ErrorMessages</name>
        <apexClass>ValidationMessage</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Get_Pricing_Streams_for_this_Loan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Pricing_Stream__c</objectType>
    </variables>
    <variables>
        <name>ErrorLoanName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Is the originating product package part of a Broker Deal, in which case an Amount for Commission Calculation must be entered against each Loan.</description>
        <name>IsBrokerDeal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Validation Messages returned from Key Loan Validation subflow</description>
        <name>KeyLoanValidationMessages</name>
        <apexClass>ValidationMessage</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Input variable containing all the Loans in the Product Package.</description>
        <name>LoansInPP</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <description>Validation Messages returned from Rates and Payments Validation subflow</description>
        <name>RatesAndPaymentsValidationMessages</name>
        <apexClass>ValidationMessage</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Singular instance of a ValidationMessage object which will contain the validation message being constructed.</description>
        <name>ValidationMessage</name>
        <apexClass>ValidationMessage</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection variable containing instances of ValidationMessages which contain the validation messages you wish to display.</description>
        <name>ValidationMessages</name>
        <apexClass>ValidationMessage</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
